@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 2000;
  height: 100%;
}

.rating-stars svg {
  vertical-align: middle !important;
  display: inline-block !important;
    transform: translateY(-4px);
    transform: translateX(-2px);
}